*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
#app {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field {
  width: 50%;
  height: 100%;
  .cell {
    border: 1px solid black;
    &:hover {
      cursor: pointer;
    }
  }
}

.cell__alive {
  background-color: indianred;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #2f6caf;
  color: white;
  transition: all 0.3s linear;
  &:hover {
    cursor: pointer;
    background-color: #b756af;
    color: black;
    transition: all 0.3s linear;
  }
}
